
li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

header {
    position: relative;
    display: flex;
}

header .headerArea {
    position: relative;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* header left */
header .leftMenuArea {
    display: flex;
    float: left;
    align-items: center;
}

header div .logo {
    width: 32px;
    height: 32px;
    padding: 10px;
}

header div .leftMenu {
    display: flex;
    padding-left: 5px;
}

header div .leftMenu li a {
    padding-left: 10px;
    color: black;
}

header div .leftMenu li a:hover {
    color: blue;
}

/* header right */

header .rightMenuArea {
    display: flex;
    float: right;
    align-items: center;
}

header div .rightMenu {
    display: flex;
}

header div .rightMenu li a {
    padding-left: 10px;
    color: black;
    font-size: 13px;
}

header div .rightMenu li a:hover {
    color: blue;
}

header div .rightMenu div {
    padding-left: 10px;
}

#search {
    padding: 0px 10px;
    border: 1px solid #ddd;
    color: #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    height: 28px;
}

::-webkit-input-placeholder {
    color: #ddd;
}

#headerBtnSignIn {
    padding: 0 10px;
    font-size: 14px;
    /* width: 100%; */
    height: 28px;
    color: black;
    text-align: center;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, #dddddd);
}

#headerBtnSignUp {
    padding: 0 10px;
    font-size: 14px;
    /* width: 100%; */
    height: 28px;
    color: white;
    text-align: center;
    border: 1px solid #fcfcfc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #85d364, #55ae2e);
}

/* section */

section {
    position: relative;
    background-image: url(https://heropcode.github.io/GitHub-Responsive/img/bg.jpg);
    background-position: bottom left;
    background-size: cover;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
}

section .mainSectionInner {
    display: flex;
    position: relative;
    padding: 120px 0;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
}

section .mainSectionInner .mainLeft {
    float: left;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    max-width: 450px;
    color: white;
}

section .mainSectionInner .mainLeft .mainLeftTitle {
    font-size: 54px;
    margin-top: 0px;
    margin-bottom: 30px;
}

section .mainSectionInner .mainLeft .mainLeftDescription {
    font-size: 26px;
    margin: 0px;
}

section .mainSectionInner .mainRight {
    float: right;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    color: white;
}

section .mainSectionInner .mainRight li {
    margin-bottom: 15px;
}

.usernameInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.emailInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.passwordInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

#mainRight .policy {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

#sectionBtnSignUp {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    border: 1px solid #55ae2e;
    border-radius: 5px;
    background: linear-gradient(to bottom, #85d364, #55ae2e);
}