
li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

header div .logo {
    width: 32px;
    height: 32px;
    padding: 10px;
}

header .leftMenuArea {
    display: flex;
    padding: 2px;
}

header div .leftMenu {
    display: flex;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}

header div .leftMenu li a {
    padding: 10px;
    color: black;
}

header div .leftMenu li a:hover {
    color: blue;
}

/* section */

section {
    position: relative;
    background-image: url(https://heropcode.github.io/GitHub-Responsive/img/bg.jpg);
    background-size: cover;
    display: flex;
    padding: 100px;
}

section .mainLeft {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-width: 700px;
    color: white;
}

section .mainRight {
    display: flex;
    flex-direction: column;
}

section .mainRight input {
    margin: 10px;    
}