
li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

header div .logo {
    width: 32px;
    height: 32px;
    padding: 10px;
}

header .leftMenuArea {
    display: flex;
    padding: 2px;
}

header div .leftMenu {
    display: flex;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}

header div .leftMenu li a {
    padding: 10px;
    color: black;
}

header div .leftMenu li a:hover {
    color: blue;
}

/* section */

section {
    position: relative;
    background-image: url(https://heropcode.github.io/GitHub-Responsive/img/bg.jpg);
    background-size: cover;
    display: flex;
    padding: 100px;
}

section .mainLeft {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-width: 500px;
    color: white;
}

section .mainRight {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: white;
}

section .mainRight li {
    margin-bottom: 15px;
}

.usernameInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.emailInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.passwordInput {
    padding: 0px 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

#mainRight .policy {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

#sectionBtnSignUp {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    height: 60px;    
    text-align: center;
    border: 1px solid #55ae2e;
    border-radius: 5px;
    background: linear-gradient(to bottom, #85d364, #55ae2e);
}